:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------HEADER---------- */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;

  margin-right: 93px;
}

.header-accent {
  color: #212121;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-contacts-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 32px 0px;
  align-items: center;
}

.header-contacts-link + .header-contacts-link {
  margin-left: 50px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.header-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ----------HERO----------- */

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-image.jpg');
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);

  margin-bottom: 30px;
}
.hero-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/* ----------OFFER----------- */

.offer {
  padding-bottom: 0px;
}

.offer-list {
  display: flex;
}

.offer-thumb {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.offer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.offer-text {
  max-width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.offer-item:not(:last-child) {
  margin-right: 30px;
}

/* --------ABOUT------------ */

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

/* ---------TEAM----------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-content {
  padding: 30px 0;
  text-align: center;
  background-color: #ffffff;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-icon {
  fill: #afb1b8;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
}

.socials-link:hover,
.socials-link:focus,
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
  background-color: var(--accent-color);
}

/* ---------CLIENTS--------- */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: #afb1b8;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

/* ---------FOOTER---------- */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer .container {
  display: flex;
}

.footer-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.light {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}
.footer-accent {
  color: #ffffff;
}
.footer-logo-contacts {
  margin-right: 70px;
}

.footer-socials {
  margin-top: 15px;
}

.footer-socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-socials-list {
  display: flex;
}

.footer-socials-item {
  width: 44px;
  height: 44px;
}

.footer-socials-icon {
  fill: #ffffff;
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}

/* ---------PORTFOLIO-------- */

/* ---------FILTER----------- */

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 9px;
}

.button {
  color: #212121;
  background-color: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------EXAMPLES----------- */

.examples-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.examples-list > .examples-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.examples-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}

.examples-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.examples-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
